:root {
  --primary: #1eaa58;
  --secondary: #0740c5;
  --light: #eee;
  --light-alt: #949497;
  --dark: #0a0a0a;
  --dark-alt: #292828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.task {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.task:hover {
  opacity: 0.6;
}

.task .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.task.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--secondary)
  );
}

.task .text {
  font-size: 20px;
}

.task.is-complete .text {
  text-decoration: line-through;
}

.task .delete-task {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: #802a2a;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
